/data/sub-01/sub-01_resmat.mat
/data/sub-02/sub-02_resmat.mat
/data/sub-03/sub-03_resmat.mat
/data/sub-04/sub-04_resmat.mat
/data/sub-05/sub-05_resmat.mat
/data/sub-06/sub-06_resmat.mat
/data/sub-07/sub-07_resmat.mat
